<div class="t_tc_login"><!--login-->
    <form action="/" method="POST" enctype="" onsubmit="document.getElementById('_form__submit').disabled = true;" target="" id="_form__form">
        <input type="hidden" name="module" value="OBA" id="_form__module">
        <input type="hidden" name="page" value="user" id="_form__page">
        <input type="hidden" name="do" value="login" id="_form__do">
        <input type="hidden" name="id" value="" id="_form__id">
        <input type="hidden" name="_form_" id="_form_" value="submit">
        <input type="hidden" name="when_done" value="/site/{LANG_ID}/{MODULE}/{PAGE}/{DO}/{ID}#bid">
        <input type="text" name="username" value="" id="username" class="t_tc_login_field" placeholder="Indtast brugernavn"/>
        <input type="password" name="password" value="" id="password" class="t_tc_login_field" placeholder="Indtast password"/>
        <input type="submit" id="_form__submit"  value="Login" class="t_tc_login_button" />
    </form>
</div><!--login slut-->